/*  HEADER A reprendre parce que c'est dégueulasse*/

header {
    background-image: url("images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
header .top {
    display: inline;
}
header .logo {
    float: left;
}
header .menu{
    float: right;
    list-style: none;
}
header .menu li {
    display: inline;
}
header .titre {
    text-align: center;
}
header button {
    background: none;
    padding: 20px 50px;
}

header button a {
    text-decoration: none;
    color: white;
}

/* ///////////////////////////////////////////////////////////////////////////////// */

main .titres {
    display: inline-block;
}